<!-- collapse="condense" -->
  <ion-header>
    <ion-toolbar>
      <app-explore-header></app-explore-header>
    </ion-toolbar>
  </ion-header>

<!-- class="curved-shape" -->
<ion-content>

  <ion-grid>
    <ion-row>
      <swiper-container>

        <!-- 1 -->
        <swiper-slide>
          <ion-card class="card-container">
            <ion-row>
              <ion-col size="5" style="padding: 0;">
                <ion-card-header class="cardQ">
                  <ion-grid
                    style="width: 140px; height: 50px;  justify-content: start; padding: 0%; margin-left: -13px;">
                    <ion-row
                      style="padding-bottom: 0%; width: 141px;height: 24px; display: flex; justify-content: start;">
                      <h1>Quote ID : 68130</h1>
                    </ion-row>
                    <ion-row>
                      <ion-col size="7">
                        <h2>Sale : owen</h2>
                      </ion-col>
                      <ion-col size="5">
                        <h3>1 Journey</h3>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header></ion-col>
              <ion-col size="7">
                <ion-row>
                  <ion-col size-xs="8">
                    <h5>Name: Mybus4u</h5>
                  </ion-col>
                  <ion-col size-xs="4">
                    <ion-row style="">
                      <ion-col size-xs="6" style="padding: 0; display: flex; align-items: flex-end; ">
                        <ion-icon name="mail-outline" class="icon-card"></ion-icon>
                      </ion-col>
                      <ion-col size-xs="6" style="padding: 0; display: flex; align-items: flex-start; ">
                        <ion-icon name="call-outline" class="icon-card"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- container card-->
            <ion-grid class="grid" style="margin-top: -15px;">
              <ion-row class="cus">
                <ion-col size-xs="7" class="cus">
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="calendar-clear-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>05/12/2024</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="time-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>02.00 AM</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="location-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>London Eye</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="location-outline" color="black"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>London city Airport LCY</h4>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size-xs="5" >
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="cash-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>£525.00</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="people-circle-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="" class="cus">
                      <h4>10 Pix(s)</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-xs="12" style="height: 59px; padding-right: 10px;  display: flex; align-items: end; justify-content: flex-end;">
                      <ion-button class="booking-btn" >Booking</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </swiper-slide>

        <!-- 2 -->
        <swiper-slide>
          <ion-card class="card-container">
            <ion-row>
              <ion-col size="5" style="padding: 0;">
                <ion-card-header class="cardQ">
                  <ion-grid
                    style="width: 140px; height: 50px;  justify-content: start; padding: 0%; margin-left: -13px;">
                    <ion-row
                      style="padding-bottom: 0%; width: 141px;height: 24px; display: flex; justify-content: start;">
                      <h1>Quote ID : 68130</h1>
                    </ion-row>
                    <ion-row>
                      <ion-col size="7">
                        <h2>Sale : owen</h2>
                      </ion-col>
                      <ion-col size="5">
                        <h3>1 Journey</h3>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header></ion-col>
              <ion-col size="7">
                <ion-row>
                  <ion-col size-xs="8">
                    <h5>Name: Mybus4u</h5>
                  </ion-col>
                  <ion-col size-xs="4">
                    <ion-row style="">
                      <ion-col size-xs="6" style="padding: 0; display: flex; align-items: flex-end; ">
                        <ion-icon name="mail-outline" class="icon-card"></ion-icon>
                      </ion-col>
                      <ion-col size-xs="6" style="padding: 0; display: flex; align-items: flex-start; ">
                        <ion-icon name="call-outline" class="icon-card"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- container card-->
            <ion-grid class="grid" style="margin-top: -15px;">
              <ion-row class="cus">
                <ion-col size-xs="7" class="cus">
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="calendar-clear-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>05/12/2024</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="time-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>02.00 AM</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="location-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>London Eye</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="location-outline" color="black"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>London city Airport LCY</h4>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size-xs="5" >
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="cash-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>£525.00</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="people-circle-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="" class="cus">
                      <h4>10 Pix(s)</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-xs="12" style="height: 59px; padding-right: 10px;  display: flex; align-items: end; justify-content: flex-end;">
                      <ion-button class="booking-btn" >Booking</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </swiper-slide>

        <!-- 3 -->
        <swiper-slide>
          <ion-card class="card-container">
            <ion-row>
              <ion-col size="5" style="padding: 0;">
                <ion-card-header class="cardQ">
                  <ion-grid
                    style="width: 140px; height: 50px;  justify-content: start; padding: 0%; margin-left: -13px;">
                    <ion-row
                      style="padding-bottom: 0%; width: 141px;height: 24px; display: flex; justify-content: start;">
                      <h1>Quote ID : 68130</h1>
                    </ion-row>
                    <ion-row>
                      <ion-col size="7">
                        <h2>Sale : owen</h2>
                      </ion-col>
                      <ion-col size="5">
                        <h3>1 Journey</h3>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header></ion-col>
              <ion-col size="7">
                <ion-row>
                  <ion-col size-xs="8">
                    <h5>Name: Mybus4u</h5>
                  </ion-col>
                  <ion-col size-xs="4">
                    <ion-row style="">
                      <ion-col size-xs="6" style="padding: 0; display: flex; align-items: flex-end; ">
                        <ion-icon name="mail-outline" class="icon-card"></ion-icon>
                      </ion-col>
                      <ion-col size-xs="6" style="padding: 0; display: flex; align-items: flex-start; ">
                        <ion-icon name="call-outline" class="icon-card"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- container card-->
            <ion-grid class="grid" style="margin-top: -15px;">
              <ion-row class="cus">
                <ion-col size-xs="7" class="cus">
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="calendar-clear-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>05/12/2024</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="time-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>02.00 AM</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="location-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>London Eye</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="location-outline" color="black"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>London city Airport LCY</h4>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size-xs="5" >
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="cash-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="10" class="cus">
                      <h4>£525.00</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: flex; align-items: center;" class="cus">
                    <ion-col size-xs="2" style="display: flex; align-items: center;" class="cus">
                      <ion-icon class="icon-card" name="people-circle-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="" class="cus">
                      <h4>10 Pix(s)</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-xs="12" style="height: 59px; padding-right: 10px;  display: flex; align-items: end; justify-content: flex-end;">
                      <ion-button class="booking-btn" >Booking</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </swiper-slide>

      </swiper-container>
    </ion-row>
    <ion-row>
      <ion-row style="padding: 0; margin: 0;">
        <ion-col size="12">
          <h1>Communicate</h1>
        </ion-col>
        <ion-col size="12" style="padding: 0; margin: 0; margin-top: -25px; display: flex; justify-content: center;">
          <ion-card class="card-call">
            <ion-row style="width: 100%; height: 100%; padding: 0;">
              <ion-col size-xs="3"
                style="padding: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-icon class="call" name="call"></ion-icon>
              </ion-col>
              <ion-col size-xs="7"
                style="padding: 0; margin: 0; display: flex; flex-direction: column; align-items: start; justify-content: center;">
                <h1 style="padding: 0; margin: 0;" class="set-font-1">Quote CallBacks</h1>
                <h2 style="padding: 0; margin: 0;" class="set-font2">No Callbacks</h2>
              </ion-col>
              <ion-col size-xs="2" style="display: flex; align-items: center; justify-content: center;">
                <ion-icon style="color: #469FD1; font-size: 35px;" name="ellipsis-vertical"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="set-font" style="padding: 0; margin: 0; margin-top: -25px; display: flex; justify-content: center;">
          <ion-card class="card-call">
            <ion-row style="width: 100%; height: 100%; padding: 0; background-color: #469FD1;">
              <ion-col size-xs="3"
                style="padding: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-icon class="call_2" name="call"></ion-icon>
              </ion-col>
              <ion-col size-xs="7"
                style="padding: 0; margin: 0; display: flex; flex-direction: column; align-items: start; justify-content: center;">
                <h1 style="padding: 0; margin: 0; color: #ffff;" class="set-font-h1">Customer CallBacks</h1>
                <h2 style="padding: 0; margin: 0;" class="set-font2-h2">No Callbacks</h2>
              </ion-col>
              <ion-col size-xs="2" style="display: flex; align-items: center; justify-content: center;">
                <ion-icon style="color: #ffff; font-size: 35px;" name="ellipsis-vertical"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="12" style="padding: 0; margin: 0; margin-top: -25px; display: flex; justify-content: center;">
          <ion-card class="card-call">
            <ion-row style="width: 100%; height: 100%; padding: 0;">
              <ion-col size-xs="3"
                style="padding: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-icon class="call" name="call"></ion-icon>
              </ion-col>
              <ion-col size-xs="7"
                style="padding: 0; margin: 0; display: flex; flex-direction: column; align-items: start; justify-content: center;">
                <h1 style="padding: 0; margin: 0;" class="set-font">Supplier CallBacks</h1>
                <h2 style="padding: 0; margin: 0;" class="set-font2">No Callbacks</h2>
              </ion-col>
              <ion-col size-xs="2" style="display: flex; align-items: center; justify-content: center;">
                <ion-icon style="color: #469FD1; font-size: 35px;" name="ellipsis-vertical"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="12" style="padding: 0; margin: 0; margin-top: -25px; display: flex; justify-content: center;">
          <ion-card class="card-call">
            <ion-row style="width: 100%; height: 100%; padding: 0; background-color: #469FD1;">
              <ion-col size-xs="3"
                style="padding: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-icon class="call_2" name="call"></ion-icon>
              </ion-col>
              <ion-col size-xs="7" style=" padding: 0; margin: 0; display: flex; flex-direction: column; align-items: start; justify-content: center;">
                <h1 style="padding: 0; margin: 0; color: #ffff;" class="set-font-h1">Customer CallBacks</h1>
                <h2 style="padding: 0; margin: 0;" class="set-font2-h2">No Callbacks</h2>
              </ion-col>
              <ion-col size-xs="2" style="display: flex; align-items: center; justify-content: center;">
                <ion-icon style="color: #ffff; font-size: 35px;" name="ellipsis-vertical"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>


